<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.fubotv">
        <category id="Signin" label="30009">
            <group id="1">
                <setting id="email" type="string" label="30002">
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                    <default></default>
                    <level>0</level>
                </setting>
                <setting id="password" type="string" label="30003">
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <hidden>true</hidden>
                    </control>
                    <default></default>
                    <level>0</level>
                </setting>
                <setting id="logout" type="action" label="30008" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.fubotv/?mode=logout)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>
        <!-- <category id="EPG" label="30010" help="">
            <group id="1">
                <setting id="include_free_channels" type="boolean" label="30012">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="Debug" type="string" label="30013">
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                    <default/>
                    <level>3</level>
                </setting>
            </group>
        </category> -->

        <category id="Hidden">
            <group id="1">
                <setting id="access_token" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="id_token" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="refresh_token" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="token_expires" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="device_id" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="iptv.enabled" type="boolean">
                    <level>4</level>
                    <default>true</default>
                </setting>

                <setting id="iptv.channels_uri" type="string">
                    <level>4</level>
                    <default>plugin://plugin.video.fubotv/iptv/channels</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                </setting>

                <!-- <setting id="iptv.epg_uri" type="string">
                    <level>4</level>
                    <default>plugin://plugin.video.fubotv/iptv/epg</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                </setting> -->
            </group>
        </category>
    </section>
</settings>
